../../.android/
../../.bash_history
../../.eclipse/
../../.gitconfig
../../.gitignore
../../.idlerc/
../../.jmc/
../../.nbi/
../../.netbeans-derby/
../../.p2/
../../.ssh/
../../.tooling/
../../AppData/
../../Contacts/
../Access 2016.lnk
../Excel 2016.lnk
../ManangerCoffeeShop/
../PhotoshopCS6Portable - Shortcut.lnk
../PowerPoint 2016.lnk
../QuanLiCafeBanNop.rar
../TeamViewer.lnk
../Unikey.lnk
../Windows 2008-2019-05-13-19-01-37.png
../Word 2016.lnk
../desktop.ini
../mysql-connector-java-5.1.48-bin.jar
../mysql-connector-java-5.1.48.jar
../sqljdbc_6.0.8112.200_enu.tar.gz
../sqljdbc_6.0/
../../Documents/
../../Downloads/
../../Favorites/
../../IntelGraphicsProfiles/
../../Links/
../../MicrosoftEdgeBackups/
../../Music/
../../NTUSER.DAT
../../NTUSER.DAT{5cb5ec8e-73e5-11e8-9cc7-000c29d01277}.TM.blf
../../NTUSER.DAT{5cb5ec8e-73e5-11e8-9cc7-000c29d01277}.TMContainer00000000000000000001.regtrans-ms
../../NTUSER.DAT{5cb5ec8e-73e5-11e8-9cc7-000c29d01277}.TMContainer00000000000000000002.regtrans-ms
../../OneDrive/
../../Pictures/
../../Saved Games/
../../Searches/
../../Videos/
../../ntuser.dat.LOG1
../../ntuser.dat.LOG2
../../ntuser.ini
../../source/